$danger: red;
$warning: orange;
$success: green;
$dark: black;
$light: lightblue;

h1{
    color: $dark;
}
.btn{
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;

    &:hover{
        background: $dark;
    }
}