@import "variables.scss";
@import "mixins.scss";


h1{
    color: $dark;
}
.btn{
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;

    &:hover{
        background: $light;
    }

    &-danger{
        background: $danger;
        color: $light;
    }
    &-warning{
        background: $warning;
        color: $light;
        @include camion(red);
    }
}


h1{
    @include camion(blue); 
}
p{
    @include camion(green); 
}